Source: debconf
Section: admin
Priority: standard
Maintainer: Joey Hess <joeyh@debian.org>
Standards-Version: 3.2.1.0
Build-Depends: perl5, debhelper (>= 2.0.98), debconf-utils, gettext, libapt-pkg-dev, g++
Build-Depends-Indep: perl5, debhelper (>= 2), links, jade, sp, docbook-xml, docbook-stylesheets, sgml-data (>= 1.2), tidy

Package: debconf
Architecture: any
Conflicts: debconf-tiny, apt (<< 0.3.12.1), menu (<= 2.1.3-1), gnome-utils (<< 1.0.13-2), dialog (<< 0.9a-17), whiptail (<< 0.50-1)
Provides: debconf-tiny
Replaces: debconf-tiny
Depends: perl-5.005-base (>= 5.005.03-4.1), fileutils (>= 4.0-5), ${shlibs:Depends}
Recommends: libterm-stool-perl | libterm-readline-gnu-perl
Suggests: debconf-doc, whiptail | dialog | gnome-utils, liblocale-gettext-perl
Description: Debian configuration management system
 Debconf is a configuration management system for debian packages. It is
 used by some packages to prompt you for questions before they are installed.

Package: debconf-doc
Architecture: all
Conflicts: debconf (<< 0.3.10)
Description: Debian configuration management system documentation
 This package contains lots of additional documentation for Debconf,
 including an introduction to Debconf, a user's guide, a programmer's
 tutorial, and the specification Debconf is based on.

Package: debconf-utils
Architecture: all
Depends: debconf (>= 0.3.31)
Conflicts: debconf (<< 0.3.31)
Replaces: debconf (<< 0.3.31)
Description: Debconf utilities
 This package contains some small utilities to aid developers who are using
 debconf. There are utilities to aid with managing translated template
 files and utilities to communicate directly with debconf from the
 command line.
