#!/usr/bin/make -f
# Sample debian/rules that uses debhelper. GNU copyright 1997 by Joey Hess.
# This version is for packages that are architecture independent.

# Uncomment this to turn on verbose mode.
#export DH_VERBOSE=1

fixlinks:
	cd Debian && ln -sf .. DebConf

build:
	$(MAKE)
	dh_testdir

clean:
	dh_testdir
	dh_testroot
	$(MAKE) clean
	dh_clean

install: build
	dh_testdir
	dh_testroot
	dh_clean -k
	dh_installdirs
	$(MAKE) prefix=debian/tmp install

# Build architecture-independent files here.
binary-indep: install
	# Make sure debhelper is going to install the config and templates.
	dh_testversion 2.0.49
	dh_testdir
	dh_testroot
	# Don't modify postrm, I purge differently than normal packages
	# using me.
	dh_installdebconf -n
	dh_installdocs doc/CREDITS doc/*.txt doc/*.html \
		doc/packages-that-prompt doc/spec/*.txt doc/spec/*.html \
		README TODO
	dh_installexamples samples/*.* test.pl
	dh_installmenu
	dh_installcron
	dh_installmanpages dpkg-frontend.1
	dh_installchangelogs
	dh_compress
	dh_fixperms
	dh_suidregister
	dh_installdeb
	dh_gencontrol
	dh_md5sums
	dh_builddeb

# Build architecture-dependent files here.
binary-arch: build install
# Nothing to do.

source diff:
	@echo >&2 'source and diff are obsolete - use dpkg-source -b'; false

binary: binary-indep binary-arch
.PHONY: build clean binary-indep binary-arch binary install
